:root {
  --grey-color      : #999999;
  --default-border  : 1px solid var(--grey-color);
}

$bg-light-grey                      : #b4bcc8;
$bg-grey-blue                       : #61c4d1;
$disable-btn-color                  : #CCCDD0;
